
Trading Bot/obj/Debug/net5.0-windows/apphost.exe
Trading Bot/obj/Debug/net5.0-windows/apphost.exe
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.assets.cache
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.csproj.AssemblyReference.cache
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.GeneratedMSBuildEditorConfig.editorconfig
Trading Bot/obj/Trading Bot.csproj.nuget.dgspec.json
Trading Bot/obj/project.nuget.cache
Trading Bot/obj/Trading Bot.csproj.nuget.g.props
Trading Bot/obj/Trading Bot.csproj.nuget.dgspec.json
Trading Bot/obj/project.nuget.cache
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.GeneratedMSBuildEditorConfig.editorconfig
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.csproj.AssemblyReference.cache
Trading Bot/obj/Debug/net5.0-windows/Trading Bot.assets.cache
Trading Bot/obj/Debug/net5.0-windows/apphost.exe
